@import 'node_modules/nord/src/sass/nord.scss';

.app-content {
	display: flex;
	flex: 1;
	padding: 0 5%;

	@media only screen and (max-width: 600px) {
		justify-content: center;
		align-items: flex-end;
	}

	@media only screen and (max-width: 992px) {
		align-items: flex-end;
		justify-content: space-around;
	}

	@media only screen and (min-width: 1200px) {
		flex-wrap: wrap;
	}

	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.app-header {
	display: flex;
	flex-direction: column;

	.hero-heading-text {
		margin: 2% 0;
		@media only screen and (min-width: 1200px) {
			font-size: 10rem;
		}
		font-size: 4rem;

		font-weight: 600;
		letter-spacing: 0.3rem;
		color: #fff;

		border-bottom: 1px solid white;

		&-landmark {
			font-weight: 200;
			color: $nord6;
		}
	}

	.hero-marquee-text {
		@media only screen and (min-width: 1200px) {
			font-size: 3rem;
			font-weight: 900;
		}
		font-weight: 100;
		font-size: 1.5rem;

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-stroke: 2px #fff;
		color: $nord6;
		text-transform: lowercase;
		pointer-events: none;
		cursor: default;
		letter-spacing: 0.1rem;
		text-indent: 10%;
	}
}

.app-content-text {
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 600px) {
		align-self: flex-end;
	}

	@media only screen and (min-width: 1200px) {
		text-align: end;
	}

	font-size: 0.85rem;
	letter-spacing: 0.07rem;
	font-weight: 600;

	p:not(p:first-child) {
		font-weight: 500;
	}

	a {
		text-decoration: underline;
		&:hover {
			color: $nord11;
		}
		&.secondary:hover {
			color: $nord14;
		}
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: small;
	}
}
