// @import 'node_modules/nord/src/sass/nord.scss';
@import '../../styles.scss';

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.app-content {
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	@media only screen and (max-width: 600px) {
		justify-content: center;
		align-items: center;
	}

	@media only screen and (max-width: 992px) {
		justify-content: center;
	}

	@media only screen and (min-width: 1200px) {
		flex-wrap: wrap;
	}
}

.app-header {
	display: flex;
	flex-direction: column-reverse;
	width: 100vw;

	.svg-container {
		width: 100%;
		.svg-text {
			fill: $scilentGray;
			.landmark {
				font-family: 'TTH-ExtraLight';
				fill: $scilentWhite;
			}
		}
	}

	.hero-typed-text {
		font-size: 1.5rem;
		color: $scilentBlack;
		pointer-events: none;
		cursor: default;
		letter-spacing: 0.4rem;
		font-family: 'TTH-ExtraLight';
		margin: 0 1rem;

		@media only screen and (min-width: 1200px) {
			font-size: 2.5rem;
		}

		@media only screen and (max-width: 600px) {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		@media only screen and (max-width: 375px) {
			font-size: 1rem;
			flex-wrap: wrap;
		}
	}
}
