@import 'node_modules/nord/src/sass/nord.scss';

.app-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex: 1;
}

.app-content {
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding: 5% 5% 0 5%;
	.app-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: calc(12px + 6vmin);
	}
}

.app-content-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
	letter-spacing: 0.07rem;
	font-size: x-small;
	min-width: fit-content;
	padding: 0;
	margin: 0;

	p:not(p:first-child) {
		font-size: smaller;
	}

	a {
		text-decoration: underline;
		&:hover {
			color: $nord11;
		}
		&.secondary:hover {
			color: $nord14;
		}
	}
}

.hero-heading-text {
	color: $nord12;
	text-transform: lowercase;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 0.3rem;
	text-shadow: $nord3 3px 3px;

	&-landmark {
		font-weight: 100;
		color: $nord7;
	}
}

.hero-marquee-text {
	color: $nord6;
	font-size: 48px;
	font-weight: 200;
	letter-spacing: 0.1rem;
	text-indent: 10%;
}

/* NEW CSS */

@keyframes fly {
	100% {
		transform: rotate(1turn) translate(100px) rotate(-1turn);
	}
}

@keyframes flyPlus {
	100% {
		transform: rotate(-1turn) translate(100px) rotate(1turn);
	}
}

@keyframes blink-cursor {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #213140;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
}
