@import 'node_modules/nord/src/sass/nord.scss';

.resume-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: var(--space-xl);
	margin: 0 var(--space-3xl);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba($color: #fefefe, $alpha: 0.6);
	color: black;
	border-radius: 0.5rem;

	.resume-header-title {
		margin-bottom: var(--space-m);
		h2 {
			margin-bottom: var(--space-xs);
		}
	}

	.resume-content {
		display: flex;
		flex: 1;
		justify-content: space-between;
		gap: var(--space-m);

		.resume-content-section {
			padding: var(--space-s) 0;
		}

		&-left {
			flex: 1;
			min-width: 55%;

			.resume-content-section:not(.resume-content-section:last-of-type) {
				border-bottom: 1px solid gray;
			}
		}
		&-right {
			ul:first-of-type {
				// margin-bottom: 2rem;
			}

			.resume-content-entry-sub-heading {
				// margin: 0.5rem 0;
			}

			.resume-content-sub-entry {
				// margin-top: 1rem;
			}
		}
	}

	.resume-content-entry > p:last-of-type {
		color: gray;
		font-size: 0.9rem;
		font-weight: 600;
	}

	.resume-content-entry {
		&-long {
			display: flex;
			gap: var(--space-3xs);
			flex-wrap: wrap;
		}
	}

	ul {
		padding: 0;
		li {
			list-style: none;
			line-height: 1.7;
		}
	}
}
