@import 'node_modules/nord/src/sass/nord.scss';

.resume-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 2% 5%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fefefe;
	color: black;
	border-radius: 0.5rem;
	margin: 0 15%;

	header {
		margin-bottom: 0;
	}

	.resume-content {
		display: flex;
		flex: 1;
		justify-content: space-between;
		.resume-content-section {
			padding: 1.5rem 0;
			// border: 1px solid black;
		}

		&-left {
			flex: 1;
			max-width: 60%;

			.resume-content-section:not(.resume-content-section:last-of-type) {
				border-bottom: 1px solid gray;
			}
		}
		&-right {
		}
	}
	h1 {
		font-size: 3rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: $nord13;
		margin-bottom: 0;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.05rem;
		color: gray;
		margin-top: 0.5rem;
	}
	h3 {
		letter-spacing: 0.05rem;
		font-weight: 600;
		margin: 0.5rem 0;
	}
	h4 {
		font-size: 0.75rem;
		letter-spacing: 0.3rem;
		font-weight: 800;
		color: gray;
		margin: 0;
	}
	h5 {
		font-size: 0.7rem;
		font-weight: 400;
		letter-spacing: 0.01rem;
		margin: 0.5rem 0;
	}
	p {
		font-size: 0.7rem;
		margin: 0;
	}

	.resume-content-entry > h5:first-of-type {
		color: gray;
		font-size: 0.9rem;
		font-weight: 600;
		letter-spacing: 0.04rem;
	}
	// .resume-content-entry:not(.resume-content-entry:last-of-type) {
	// 	margin-bottom: 1.75rem;
	// }
	.resume-content-entry {
		margin: 1.2rem 0;
	}

	.resume-header {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-bottom: 1%;
		margin-bottom: 1%;

		.resume-title {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			&-text {
				margin: 0;
				font-size: 170px;
				letter-spacing: 0.5rem;
				color: $nord6;
				font-weight: 500;
			}

			&-subtext {
				font-size: x-large;
				font-weight: 500;
				color: #fff;

				&-2 {
					font-size: large;
					font-weight: 400;
					letter-spacing: 0.05rem;
				}
			}

			&-btn {
				//
			}
		}

		&-content {
			align-self: flex-end;
			padding: 0 10%;
			.contact-container {
				.icon-grid {
					display: flex;
					gap: 25%;
					&-link {
						a {
							.icon {
								max-height: 35px;
								width: 35px;
								cursor: pointer;

								// convert hex to css filter https://codepen.io/sosuke/pen/Pjoqqp
								filter: invert(91%) sepia(19%) saturate(123%) hue-rotate(184deg)
									brightness(94%) contrast(94%);
								transition: all 0.25s ease;

								&:hover {
									filter: invert(97%) sepia(3%) saturate(151%)
										hue-rotate(226deg) brightness(114%) contrast(100%);
									transform: scale(1.2);
								}
							}
						}
					}
				}
			}
		}
		border-bottom: 1px solid $nord6;
	}

	.resume-sub-content {
		text-align: center;
	}

	.resume-main-content {
		padding: 0 10%;
		display: flex;
		gap: 10%;

		background-color: rgba($color: #000, $alpha: 0.35);
		border-radius: 24px;

		overflow-y: scroll;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		&::-webkit-scrollbar {
			/* WebKit */
			width: 0;
			height: 0;
		}

		a {
			font-weight: 700;
		}

		.entry-title {
			font-size: larger;
			margin-bottom: 12px;
			letter-spacing: 0.03rem;
			color: $nord6;
			font-weight: 500;
			span {
				font-weight: 600;
			}
		}

		.entry-subtitle {
			font-size: smaller;
			margin: 5px auto;
			letter-spacing: 0.02rem;
			font-weight: 400;
		}

		&-left {
			flex: 1;
			max-width: 60%;
			h2 {
				font-size: 80px;
				color: $nord13;
				font-weight: 400;
				letter-spacing: 0.3rem;
				margin-top: 5%;
				margin-bottom: 2%;
			}
			&-entry {
				padding: 2% 0;
			}
		}
		&-right {
			display: flex;
			flex-direction: column;
			text-align: end;
			max-width: 40%;

			h3 {
				font-size: 80px;
				color: $nord13;
				font-weight: 400;
				letter-spacing: 0.3rem;
				margin-top: 5%;
				margin-bottom: 2%;
			}

			h4 {
				color: $nord13;
				font-weight: 800;
				letter-spacing: 0.08rem;
				margin: 0;
			}

			.tools {
				display: flex;
				justify-content: end;
				align-self: flex-end;
				gap: 0.5rem;
				list-style-type: none;
				flex-wrap: wrap;
				font-size: smaller;
				letter-spacing: 0.01rem;
				max-width: 75%;
				padding-bottom: 5%;
			}
		}
	}
}
