@import '../../styles.scss';

.portfolio-page {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100vw;
	overflow-y: auto;
	align-items: center;

	&-heading {
		align-self: flex-start;
		margin: var(--space-m);
	}
	&-overview {
		align-self: flex-end;
		margin: var(--space-m);
	}
	&-desc {
		align-self: flex-start;
		margin: var(--space-xl);
		max-width: 50%;
	}
	&-hero-img {
		width: 100vw;
	}
	&-feature {
		&-desc {
		}
		&-img {
		}
	}
	&-footer {
		width: 70%;
		margin-top: var(--space-m);
		padding: var(--space-s);
		border-top: 1px solid $light;

		&-content {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: var(--space-s);
		}

		&-image {
			max-height: 120px;
			border-radius: 6px;
		}
	}
}
