@import 'node_modules/nord/src/sass/nord.scss';

@mixin boxShadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	-o-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

.about-content {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	flex: 1;

	&-heading {
		color: #fff;
		text-shadow: $nord12 2px 2px;
		margin: 0;
		width: 100%;

		h1 {
			font-size: 9rem;
			line-height: 6rem;
			letter-spacing: 0.2rem;
			font-weight: 500;
			max-height: 100%;

			@media only screen and (max-width: 1200px) {
				font-size: 5rem;
			}

			@media only screen and (max-width: 600px) {
				font-size: 3rem;
			}
		}
	}

	&-text {
		line-height: 1.3rem;
		letter-spacing: 0.04rem;
		text-align: justify;
		font-weight: 500;
		background-color: rgba($color: $nord0, $alpha: 0.2);
		border-radius: 8px;
		overflow-y: auto;
		padding: 1rem;

		@media only screen and (max-width: 1200px) {
			padding: 5%;
			box-sizing: border-box;
			max-height: 80%;
		}
		@media only screen and (max-width: 600px) {
			box-sizing: border-box;
			max-height: 70%;
		}

		.flood-right {
			@include transition(0.25s ease-in-out);
			@include boxShadow(inset 0px 0 0 0 $nord13);
			overflow: hidden;
			&:hover {
				color: $nord2;
				font-weight: 600;
				@include boxShadow(inset 500px 0 0 0 $nord13);
			}
		}

		a {
			text-decoration: underline;
		}
	}
}
