@import 'node_modules/nord/src/sass/nord.scss';

.contact-content {
	display: flex;
	flex: 1;
	padding: 0 5%;
	justify-content: space-between;
	align-items: center;
}

.contact-heading-text {
	@media only screen and (max-width: 990px) {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	line-height: 5rem;
	font-size: 5rem;
	text-transform: lowercase;
	margin: 0;
	flex: 1;

	text-shadow: $nord12 2px 2px;
	color: #fff;
	letter-spacing: 0.2rem;
	font-weight: 500;
}

.contact-heading-subtext {
	text-transform: lowercase;
	font-weight: 500;
	font-size: large;
	margin: 1% 5%;
	@media only screen and (max-width: 990px) {
		font-size: 1rem;
		margin: 0;
		max-width: 85%;
	}

	.contact-heading-link {
		text-decoration: underline;
		margin-left: 5px;
		transition: all 0.25s ease;
		&:hover {
			color: $nord11;
		}
	}
}

.contact-links {
	display: flex;
	align-items: center;

	.icon-grid {
		display: flex;
		gap: 50px;
		@media only screen and (max-width: 1200px) {
			flex-direction: column;
		}

		.icon-grid-link,
		.icon {
			max-height: 50px;
			width: 50px;
			@media only screen and (max-width: 990px) {
				max-height: 35px;
				width: 35px;
			}
		}
		.icon {
			// convert hex to css filter https://codepen.io/sosuke/pen/Pjoqqp
			filter: invert(91%) sepia(19%) saturate(123%) hue-rotate(184deg)
				brightness(94%) contrast(94%);
			transition: all 0.25s ease;

			&:hover {
				filter: invert(97%) sepia(3%) saturate(151%) hue-rotate(226deg)
					brightness(114%) contrast(100%);
				transform: scale(1.2);
			}
		}
	}
}
