@import 'node_modules/nord/src/sass/nord.scss';

.show {
	animation: show 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
	overflow: hidden;
}

.hide {
	animation: hide 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
	overflow: hidden;
}

@keyframes hide {
	from {
		margin-left: 0%;
		width: 100%;
	}

	to {
		margin-left: -100%;
		width: 300%;
	}
}

@keyframes show {
	from {
		margin-left: -100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
	// 0% {
	//   transform: translateX(-50px);
	// }
	// 100% {
	//   transform: translateX(0);
	// }
}

.footer {
	position: sticky;
	bottom: 0;
	padding: 24px 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.footer-text {
		display: flex;
		align-items: center;
		gap: 5px;
		overflow-x: hidden;
		cursor: pointer;
		span {
			color: #fff;
			font-size: small;
			font-weight: 500;
			letter-spacing: 0.05rem;
		}
	}
}

.footer-arrow:hover {
	animation: none;
	cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
	.footer-arrow {
		animation: bounce 0.8s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-25px);
	}
}
