@import 'node_modules/nord/src/sass/nord.scss';

.nav-bar {
	position: sticky;
	display: flex;
	flex-direction: row;
	padding: 24px 48px;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 100px);

	.app-logo {
		height: 5vmin;
		pointer-events: none;
	}

	.logo {
		a {
			font-weight: 900;
			font-size: 3rem;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-text-stroke: 1px $nord6;
			transition: all 0.25s ease;
			&:hover {
				-webkit-text-fill-color: initial;
				-webkit-background-clip: initial;
				-webkit-text-stroke: initial;
				color: #fff;
				// color: $nord12;
			}
		}
	}

	.nav-links {
		display: flex;
		gap: 2rem;
		font-weight: 800;
		letter-spacing: 0.1rem;
		font-size: large;
		a {
			transition: all 0.25s ease;
			color: #fff;
			&:hover {
				font-size: larger;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				-webkit-text-stroke: 1px #fff;
			}
		}
	}
}

.widget {
	&:hover {
	}
}

// @media (prefers-reduced-motion: no-preference) {
//   .logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
