// COLORS
$scilentGray: #383838;
$scilentWhite: #d6d6d6;
$scilentBlack: #000000;

$dark: #2b2d42;
$med: #8d99ae;
$light: #edf2f4;
$accent: #ef233c;

// FLUID GRID
/* @link https://utopia.fyi/grid/calculator?c=329,17.333,1.618,1440,31.25,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-l&g=s,l,l,12 */
:root {
	--grid-max-width: 98.44rem;
	--grid-gutter: var(
		--space-s-l,
		clamp(1.0625rem, 0.3034rem + 3.6918vw, 3.9375rem)
	);
	--grid-columns: 12;
}

.u-container {
	max-width: var(--grid-max-width);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.u-grid {
	display: grid;
	gap: var(--grid-gutter);
}

// FLUID SPACING
/* @link https://utopia.fyi/space/calculator?c=320,17.333,1.618,1440,31.25,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-l&g=s,l,xl,12 */
:root {
	/* Space 3xs: 4px → 8px */
	--space-3xs: clamp(0.25rem, 0.1786rem + 0.3571vw, 0.5rem);

	/* Space 2xs: 9px → 16px */
	--space-2xs: clamp(0.5625rem, 0.4375rem + 0.625vw, 1rem);

	/* Space xs: 13px → 23px */
	--space-xs: clamp(0.8125rem, 0.6339rem + 0.8929vw, 1.4375rem);

	/* Space s: 17px → 31px */
	--space-s: clamp(1.0625rem, 0.8125rem + 1.25vw, 1.9375rem);

	/* Space m: 26px → 47px */
	--space-m: clamp(1.625rem, 1.25rem + 1.875vw, 2.9375rem);

	/* Space l: 35px → 63px */
	--space-l: clamp(2.1875rem, 1.6875rem + 2.5vw, 3.9375rem);

	/* Space xl: 52px → 94px */
	--space-xl: clamp(3.25rem, 2.5rem + 3.75vw, 5.875rem);

	/* Space 2xl: 69px → 125px */
	--space-2xl: clamp(4.3125rem, 3.3125rem + 5vw, 7.8125rem);

	/* Space 3xl: 104px → 188px */
	--space-3xl: clamp(6.5rem, 5rem + 7.5vw, 11.75rem);

	/* One-up pairs */
	/* Space 3xs-2xs: 4px → 16px */
	--space-3xs-2xs: clamp(0.25rem, 0.0357rem + 1.0714vw, 1rem);

	/* Space 2xs-xs: 9px → 23px */
	--space-2xs-xs: clamp(0.5625rem, 0.3125rem + 1.25vw, 1.4375rem);

	/* Space xs-s: 13px → 31px */
	--space-xs-s: clamp(0.8125rem, 0.4911rem + 1.6071vw, 1.9375rem);

	/* Space s-m: 17px → 47px */
	--space-s-m: clamp(1.0625rem, 0.5268rem + 2.6786vw, 2.9375rem);

	/* Space m-l: 26px → 63px */
	--space-m-l: clamp(1.625rem, 0.9643rem + 3.3036vw, 3.9375rem);

	/* Space l-xl: 35px → 94px */
	--space-l-xl: clamp(2.1875rem, 1.1339rem + 5.2679vw, 5.875rem);

	/* Space xl-2xl: 52px → 125px */
	--space-xl-2xl: clamp(3.25rem, 1.9464rem + 6.5179vw, 7.8125rem);

	/* Space 2xl-3xl: 69px → 188px */
	--space-2xl-3xl: clamp(4.3125rem, 2.1875rem + 10.625vw, 11.75rem);
}

// FLUID TYPE SCALE
// https://www.fluid-type-scale.com/

// ---- CONFIG ---- //
// MIN (MOBILE)
// base font (px) = 17.333
// min screen width (px) = 320
// scale = 1.25
// MAX (DESKTOP)
// base font (px) = 31.25
// max screen width (px) = 1440
// scale = 1.618
// ---------------- //

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-xs: clamp(0.69rem, 0.08vw + 0.68rem, 0.75rem);
		--font-size-sm: clamp(0.87rem, 0.49vw + 0.77rem, 1.21rem);
		--font-size-base: clamp(1.08rem, 1.24vw + 0.83rem, 1.95rem);
		--font-size-md: clamp(1.35rem, 2.58vw + 0.84rem, 3.16rem);
		--font-size-lg: clamp(1.69rem, 4.89vw + 0.72rem, 5.11rem);
		--font-size-xl: clamp(2.12rem, 8.8vw + 0.36rem, 8.27rem);
		--font-size-xxl: clamp(2.64rem, 15.34vw + -0.42rem, 13.39rem);
		--font-size-xxxl: clamp(3.31rem, 26.22vw + -1.94rem, 21.66rem);
	}
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-xs: 0.69rem;
		--font-size-sm: 0.87rem;
		--font-size-base: 1.08rem;
		--font-size-md: 1.35rem;
		--font-size-lg: 1.69rem;
		--font-size-xl: 2.12rem;
		--font-size-xxl: 2.64rem;
		--font-size-xxxl: 3.31rem;
	}
	@media screen and (min-width: 1440px) {
		:root {
			--font-size-xs: 0.75rem;
			--font-size-sm: 1.21rem;
			--font-size-base: 1.95rem;
			--font-size-md: 3.16rem;
			--font-size-lg: 5.11rem;
			--font-size-xl: 8.27rem;
			--font-size-xxl: 13.39rem;
			--font-size-xxxl: 21.66rem;
		}
	}
}

body {
	font-family: 'TTH-Regular', monospace;
	line-height: 1.5;
	font-size: var(--font-size-base);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $dark;

	margin: 0;

	::selection {
		background: $light;
	}
	* {
		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

// ----------------------------------------------------------------

// SCALE OPTIONS
// Mega (r = 3)
// h1 { font-size: 3em; }
// h2 { font-size: 2.0801em; }
// h3 { font-size: 1.4422em; }
// small { font-size: .6934em; }
// html { font-size: 1.25em; }

// Major Third (r = 1.25)
// h1 { font-size: 2.058em; }
// h2 { font-size: 1.6179em; }
// h3 { font-size: 1.272em; }
// small { font-size: .7862em; }
// html { font-size: 1.25em; }

// Golden (r = 1.618)
// h1 { font-size: 3em; }
// h2 { font-size: 2.0801em; }
// h3 { font-size: 1.4422em; }
// small { font-size: .6934em; }
// html { font-size: 1.618em; }

h1,
h2,
h3,
h4,
h5 {
	font-family: 'TTH-Light', monospace;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0;
}

h1 {
	font-size: var(--font-size-xl);
}

h2 {
	font-size: var(--font-size-lg);
	letter-spacing: 0.2rem;
}

h3 {
	font-size: var(--font-size-md);
	letter-spacing: 0.1rem;
}

h4 {
	font-family: 'TTH-Regular', monospace;
	font-size: var(--font-size-base);
	letter-spacing: 0.07rem;
}

h5 {
	font-family: 'TTH-Regular', monospace;
	font-size: var(--font-size-sm);
	color: $light;
	letter-spacing: 0.04rem;
}

p {
	font-family: 'TTH-Regular', monospace;
	font-size: var(--font-size-sm);
	letter-spacing: 0.02rem;
	line-height: 1.4;
	text-transform: uppercase;
	text-wrap: pretty;
}

span,
li,
small {
	font-family: 'TTH-SemiBold', monospace;
	font-size: var(--font-size-xs);
	letter-spacing: 0.02rem;
	text-transform: uppercase;
	text-decoration: none;
}

a {
	font-family: 'TTH-Light', monospace;
	font-size: var(--font-size-sm);
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: initial;
}
