$scilentGray: #383838;
$scilentWhite: #d6d6d6;
$scilentBlack: #000000;

body {
	font-family: 'TTH-Regular', monospace;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $scilentBlack;

	margin: 0;

	::selection {
		background: $scilentWhite;
	}
}

a {
	font-family: 'TTH-Light', monospace;
	text-decoration: none;
}

h1 {
	font-family: 'TTH-Light', monospace;
	font-size: 12rem;
	letter-spacing: 0.8rem;
	line-height: 14rem;
}

h2 {
	font-family: 'TTH-SemiBold', monospace;
	font-size: 2.6rem;
	letter-spacing: 0.05rem;
	line-height: 3rem;
}

h3 {
	font-family: 'TTH-ExtraLight', monospace;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	line-height: 1.8rem;
}

li {
	line-height: 1.6rem;
	letter-spacing: 0.04rem;
	font-family: 'TTH-Thin', monospace;
}

p {
	font-family: 'TTH-Regular', monospace;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	line-height: 2.2rem;

	@media only screen and (min-width: 1440px) {
		font-size: 1.4rem;
		line-height: 3.2rem;
	}

	@media only screen and (min-width: 1200px) {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}

	@media only screen and (max-width: 600px) {
		font-size: 1rem;
		line-height: 2rem;
	}
}
